@font-face {
    font-family: Berlin;
    src: url(assets/fonts/Berlin.ttf);
}

@font-face {
    font-family: Berlin-reg;
    src: url(assets/fonts/Berlin-reg.ttf);
}

@font-face {
    font-family: Lucida;
    src: url(assets/fonts/Lucida.ttf);
}

@font-face {
    font-family: Segoe;
    src: url(assets/fonts/Segoe.ttf);
}

.mainNav {
    padding: 1rem 0;
    background-color: white;
}

.navbar-brand img{
    width: 300px;
}

header.masthead {
    color: black;
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    background-image: url("./assets/img/cajitamix4.jpg");
    background-position: center;
    background-size: cover;
}

.portada{
    background-color: #3da2aa;
    padding: 25px;
    opacity: 0.8;
    border-radius: 95px;
}

.masthead-heading, .section-heading, .page-section, .title{
    font-family: 'Berlin';
}

h2, .section-subheading, .info, .portfolio-caption-heading, .portfolio-caption-subheading, .portfolio-caption-subheading-t{
    font-family: 'Berlin-reg';
}

.masthead, .btn-circle.btn-sm, .portfolio-item, .portfolio-caption, .portfolio-caption-subheading, .portfolio-caption-subheading-t, .gracias, .footer{
    text-align: center;
}

a {
    text-decoration: none;
}

p.section-heading{
    font-size: 4rem;
    margin-bottom: 3rem;
}

p.section-subheading{
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.bienvenidos{
    margin-bottom: 5rem;
}

.page-section {
    display: block;
    padding: 4rem 0;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.btn-primary{
    background-color: #3da2aa;
    border: none;
    padding: 1.5rem;
}

.btn-primary svg{
    width: 100px;
}

.btn-primary:hover{
    background-color: #389197;
}

.title{
    font-size: 2rem;
    margin-top: 1rem;
}

.info{
    font-size: 1.2rem;
}

.img-fluid.info{
    width: 650px;
    border-radius: 3%;
}

.portfolio-caption.info{
    margin: 4rem 0;
}

.portfolio-caption-heading{
    font-size: 2.5rem;
}

.portfolio-caption-subheading.info{
    font-size: 1.5rem;
    padding: 0;
}

.entrega{
    padding-bottom: 80px;
    width: 800px;
}

.gracias{
    width: 300px;
    border-radius: 100%;
    margin: 1.5rem 0;
}

.mx-2 {
    margin: 0 0.5rem;
}

#catalogo, .presupuestos, .presupuestos-title, .portfolio-caption-subheading-t{
    padding-bottom: 20px;
}


.portfolio-caption{
    padding-top: 20px;
}

.portfolio-caption-subheading{
    padding-bottom: 40px;
}

hr{
    border: 0;
    height: 3px;
    background: black
    background-image linear-gradient(to right, #ccc, black, #ccc);
}

.carousel{
    width: 70%;
    margin: 0 auto;
}

.carousel-caption{
    color: rgb(250, 177, 177);
    text-shadow: 2px 2px black;
}

.footer{
    margin-top: 3rem;
}

.footer p {
    font-size: 1rem;
    font-family: "Segoe UI", "Roboto";
}

.link-dark{
    margin-right: 1rem;
}

.btn-circle.btn-sm{
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 15px;
}

.btn-circle.btn-sm svg{
    width: 16px;
}
